<ion-header class="custom-header">
  <ion-buttons slot="start">
    <ion-button class="back-button" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <h1 class="header-title">Notification</h1>
</ion-header>

<ion-content class="gradient-bg">
  <!-- Tabs -->
  <div class="tab-buttons">
    <button [class.active]="selectedTab === 'all'" (click)="selectTab('all')">All</button>
    <button [class.active]="selectedTab === 'unread'" (click)="selectTab('unread')">Unread</button>
    <button [class.active]="selectedTab === 'read'" (click)="selectTab('read')">Read</button>
  </div>

  <!-- Notification Cards -->
  <div *ngFor="let item of filteredNotifications" class="notification-card" [class.unread]="!item.read" (click)="openCaseReport(item)">
    <ion-icon [name]="item.icon" class="notif-icon"></ion-icon>
    <div class="notif-text">
      <h2>{{ item.title }}</h2>
      <p>{{ item.message }}</p>
      <span class="notif-date">{{ item.date }}</span>
    </div>
    <ion-icon name="close-outline" class="notif-close"></ion-icon>
  </div>


</ion-content>
