<ion-header class="custom-header">

  

  <h1 class="header-title">Loading</h1>
  </ion-header>
                                  

<ion-content [fullscreen]="true">
  
  <div class="loading-text">
    Checking everything carefully...<br> your baby's diagnosis is on the way.
  </div>
  
<div class="container">
  <div class="preloader">

    <span></span>
    <span></span>
    <span></span>
  
  </div>
  <div class="shadow"></div>
</div>

</ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
    
    </ion-toolbar>
  </ion-header>

